.about {
    background-image: url("https://i.imgur.com/Gkajx38.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    justify-content: center;
    color: black;
    border-color: burlywood;
    border-style: groove;
    border-width: 10px;
    width: 100%;
    height: 100%;
    /* width: auto; */
}
.tangerine {
    color: #f0ca2e;
    font-family: Tangerine !important;
    font-size: 30px !important;
    text-shadow: 2px 2px 2px rgb(15, 15, 15);
    font-weight: bold;
 }