.top {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 70px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.topLeft, .topRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex: 8;
}

.topIcon {
    font-size: 2vw;
    padding: 12px;
    color: #444;
    cursor: pointer;
}
.topImage {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 1vw;
    padding-left: 1vw;
}

.topSearchIcon {
    font-size: 45px;
    color: #666;
    cursor: pointer;
    margin-left: 45px;
}