h1, p {
    color: white;
}

img {
    width: 100%;
    height: 100% !important;
    object-fit: cover; 
    max-height: 800px; 

}

.beige {
    color: rgb(223, 218, 175);
    text-shadow: 3px 3px 3px rgb(13, 13, 13);
}

.white {
    color: white;
    text-shadow: 3px 3px 3px rgb(13, 13, 13);
}

.carousel {
    background-color: rgb(0, 5, 13);
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/* .item { */
    /* -webkit-transform-style: preserve-3d; */
    /* -moz-transform-style: preserve-3d; */
    /* transform-style: preserve-3d; */
    /* height: 200px; */
/* } */

/* .carousel {
    display: flex;
    align-items: stretch;
}

.carousel-item {
    flex: 1;
} */

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    height: 150px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}