h1, p {
    color: white;
}

/* img {
    width: 100%
} */

img {
    width: auto;
    height: 225px;
    max-height: 225px;
    /* padding: 5%; */
    /* margin: 10%; */
}

h1 {
    color: blueviolet;
}

.carousel {
    background-color: cornflowerblue;
}