.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    font-family: 'Lora', serif;
}

.headerTitleSm {
    position: absolute;
    top: 30%;
    font-size: 40px;
}

.headerTitleLg {
    position: absolute;
    top: 33%;
    font-size: 100px;
}

/* Centered text */
/* .top-center {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
} */