.vibes {
    font-family: 'Great Vibes' !important;
    color: #000;
    text-shadow: 1px 1px 1px rgba(214, 76, 212, 0.783);
    font-weight: bold;
}

.montserrat {
    font-family: 'Montserrat Alternates';
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(214, 76, 212, 0.783);
}

body,
html {
    height: 100%;
}

#bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
}

/* header, footer, .navbar, .about {
    backdrop-filter: blur(4px);
    padding: 20px;
} */