/* body {
  background-color:rgba(247, 210, 240, 0.379);
} */

.navBarLink {
  margin: 5px;
}


/* delete later */
.home {
  background-color: rgba(210, 236, 247, 0.379);
}

.header {
  background-color: rgba(241, 237, 198, 0.379);
}

.footer {
  background-color: rgba(199, 162, 172, 0.379);
}

.search {
  background-color: rgba(174, 220, 176, 0.379);
}

/* .about {
  background-color: rgba(195, 174, 220, 0.379);
} */

.dailyBlog {
  background-color: rgba(155, 167, 226, 0.379);
}